/*global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #17181a;
  font-family: "Montserrat", sans-serif;
}

#logo {
  color: #fff;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 3px;
}

/*nav header*/
.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  pointer-events: none;
  background: white;
}

.burger {
  cursor: pointer;
}

/*main section styles*/
.slide {
  min-height: 100vh;
  margin: 0 auto 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background: #17181a;
}

.hero-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25;
  padding: 4rem;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-span {
  color: rgb(255, 139, 93);
}

.mountain-span {
  color: rgb(86, 129, 229);
}

.hike-span {
  color: rgb(232, 110, 110);
}

.hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 4rem;
}

.hero-desc p {
  padding: 2rem 0;
  font-size: 1rem;
  color: rgb(219, 219, 219);
}

.explore {
  padding: 1rem 2rem;
  background: none;
  color: whitesmoke;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid #fff;
  align-self: flex-start;
  cursor: pointer;
}

/*navigation behind*/
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-links {
  font-size: 4rem;
  flex-basis: 30rem;
}
.nav-links h3 {
  padding: 3rem 0;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 3rem;
  padding: 2rem 0;
  font-weight: bold;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

/*for empty divs behind content*/
.reveal-img,
.reveal-text {
  position: absolute; /*in context of hero-desc and hero p positions*/
  width: 100%;
  height: 100%;
  background: #17181a;
  left: 0;
  top: 0;
}

/*for circle cursor*/
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
}
